<div class="modal-header">
    <h3 class="modal-title">Add Customer</h3>
</div>
<form name="newCustomer" novalidate class="form-horizontal" ng-submit="newCustomer.$valid && addCustomer(model.newCustomer)">
    <div class="modal-body">

        <div class="validation-errors" ng-show="newCustomer.$submitted">
            <div  ng-messages="newCustomer.name.$error" ng-if="newCustomer.name.$touched">
                <p ng-message="required">Your name is required.</p>
            </div>
            <div  ng-messages="newCustomer.location.$error" ng-if="newCustomer.location.$touched">
                <p ng-message="required">Your location is required.</p>
            </div>
            <div  ng-messages="newCustomer.email.$error" ng-if="newCustomer.email.$touched">
                <p ng-message="required">Your email is required.</p>
                <p ng-message="email">Your email is invalid.</p>
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name</label>

            <div class="col-sm-10">
                <input type="text" name="name" ng-model="model.newCustomer.name" required class="form-control" id="name"
                       placeholder="Name">
            </div>
        </div>
        <div class="form-group">
            <label for="location" class="col-sm-2 control-label">Location</label>

            <div class="col-sm-10">
                <input type="text" name="location" ng-model="model.newCustomer.location" required class="form-control" id="location"
                       placeholder="Location">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>

            <div class="col-sm-10">
                <input type="email" name="email" ng-model="model.newCustomer.email" required class="form-control" id="email"
                       placeholder="Email">
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Save"/>
        <button class="btn btn-warning" type="button" ng-click="resetNewCustomer()">Cancel</button>
    </div>
</form>