<div class="row">
    <div class="col-sm-6">
        <form name="login" novalidate class="form-horizontal" ng-submit="login.$valid && login(model.user)">

                <div class="validation-errors" ng-show="login.$submitted">
                    <div  ng-messages="login.email.$error" ng-if="login.email.$touched">
                        <p ng-message="required">Your email is required.</p>
                        <p ng-message="email">Your email is invalid.</p>
                    </div>
                    <div  ng-messages="login.password.$error" ng-if="login.password.$touched">
                        <p ng-message="required">Your password is required.</p>
                    </div>
                </div>


                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                        <input type="email" name="email" ng-model="model.user.email" required class="form-control" id="email"
                               placeholder="Email">
                    </div>
                    <label for="password" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" name="email" ng-model="model.user.password" required class="form-control" id="password"
                               placeholder="password">
                    </div>
                    <div class="col-sm-10 col-sm-offset-2 login-submit">
                        <input type="submit" class="btn btn-primary" value="Login"/>
                    </div>
                </div>


        </form>
    </div>

</div>