.delete {
    position: absolute;
    top:2px;
    right:2px;
    cursor: pointer;
    color: gray;
}

.customer-list .panel-body {
    position: relative;
    cursor: pointer;
}

.sort-container {
    margin:10px 0px;
}

.validation-errors p {
    color: darkred;
}

.customer-filter {
    width:300px;
}

.login-submit {
    margin-top : 10px;
}